.item {
    list-style: none;
}


/*PostItem*/

.container{
    position: relative;
    
    &:hover button{
        visibility: visible;
    }
}

.button-group{
    position: absolute;
    top: 0;
    right: 0;

    & button {
        margin: 4px 5px 4px 0;
        visibility: hidden;
    }
}

.user{
    cursor: pointer;
    user-select: none;
}
